/* Scroll up arrow.
 ----------------------------------------------------------------------------------------*/

.scrollup {
  width: 39px;
  height: 45px;
  opacity: 1;
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: none;
  cursor: pointer;
  color: #978e83;
}

/* Typeahead
 ----------------------------------------------------------------------------------------*/

.typeahead, .tt-query, .tt-hint {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.typeahead:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 350px;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #DD4814;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

/* Sticky Footer
 ----------------------------------------------------------------------------------------*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #dd4814;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 15px 0;
  color: #F5F1CB;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

/* Input focus colors
 ----------------------------------------------------------------------------------------*/

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus {
  border-color: rgba(221, 72, 20, 0.8);
  /* We don't have the LESS .box-shadow function in plain CSS */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 72, 20, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 72, 20, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 72, 20, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

/* Gensheet table double scroll
 ----------------------------------------------------------------------------------------*/

.scrollable1, .scrollable2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollable1 {
  height: 20px;
}
.bar1 {
  height: 20px;
}
.bar2 {
  overflow: none;
}
