<div class="container">
    <h1>{{title}}</h1>
    <hr/>
    <p>
        <b>
            <i>Why isn't there a edit button?</i>
        </b>
    </p>
    <p>I haven't yet implemented this functionality. For now it is simply easier for you to delete a hull and add it again if see anything incorrect.</p>
    <br/>
    <p>
        <b>
            <i>Why can't I add a hull number or name?</i>
        </b>
    </p>
    <p>
        Chances are the hull number or number has already been added. Simply find the hull number or name you wish to add at the
        <a href="/database/page/1">database</a>
        page and delete it. Now you should beable to summit your gensheet with that hull number or name.
    </p>
</div>
